body {
    margin: 0;
}

.mainContent {
    display: flex;
}

.sidebar {
    position: sticky;
    width: 120px;
    background-color: #2B3035;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebarIcons {
    height: 54px;
    margin-top: 50px;
}

.sidebarIcons:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.notesContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
    width: 100vh;
}

.buttonSave {
    display: flex;
    justify-content: center;
}
